*
!Dockerfile
!.dockerignore
!requirements.txt
!backend/
!backend/**
!frontend/
!frontend/**
!models/
!models/battlefield_sound_cnn.pt
!models/battlefield_sound_cnn.json
!models/yamnet.tflite
!models/yamnet_class_map.csv
!data/
!data/raw/
!data/raw/footsteps/
!data/raw/footsteps/esc50_1-155858-A-25.wav
!data/raw/gunshots/
!data/raw/gunshots/sesa_gunshot_000.wav
